
/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
    box-sizing: border-box;   
}

body {
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    
}

.quiz-container {
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    max-width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    align-self: center;
}

.option-container {
    margin: 10px;
}

.correct {
    color: rgb(40, 119, 40);
} 

.incorrect {
    color: red;
}