
/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
    box-sizing: border-box;   
}

body {
    background-color: rgb(147, 201, 245);
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    
}

h1 {
    font-size: 50px;
    margin-bottom: 70px;
}

.quiz-container {
    background-color: rgb(211, 210, 210);
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    max-width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    font-size: 35px;
}

button {
    font-size: x-large;
    align-self: center;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    cursor: pointer;
}

.option-container {
    font-size: 25px;
    margin: 10px;
}

.correct {
    font-size: 25px;
    color: rgb(40, 119, 40);
} 

.correct-head {
    font-size: 40px;
    color: rgb(40, 119, 40);
} 

.incorrect {
    font-size: 25px;
    color: red;
}

.incorrect-head {
    font-size: 40px;
    color: red;
}

.answer-correct {
    font-size: 25px;
}

@media screen and (max-width: 900px) {
    .quiz-container {
        max-width: 100%;
    }
} 
